<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>chatting</title>
        <link rel="stylesheet" href="./css/chat.css">
        <script type="text/javascript" src="./js/chat.js"></script>
        
    </head>

    <body>
        <div id="container" class="wrapper">

                
            <div id="left-drawer">
                <div class = "drawer-head">
                    <p>←</p>
                </div>
                <div class="drawer-content">
                    <p id="user-count-info">접속중: <span id="user-count">0</span>명</p>
                    <ul id="user-list">
                        <li>d</li>
                        <li>ccc</li>
                        <li>ddd</li>
                    </ul>
                </div>
                <div class="drawer-tmp" class="drawer-footer">
                </div>
            </div>



            <div id="header" class="menu-container">
                <ul id="menu-list" class="menu-list">
                    <li>=</li>
                    <li>Chatting</li>
                </ul>

            </div>

            <div id="content" class="chat-container">
                <!--
                <div class="opposite-chat">
                    <div class="opposite-img"></div>
                    <div class="opposite-content">
                        <p class="opposite-content-name">opposite</p>
                        <p class="opposite-content-message">oppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeopposite opposite</p>
                    </div>
                    <div class="opposite-content-timestamp">
                        3:33pm
                    </div>

                </div>

                <div class="my-chat">
                    <div class="my-content-timestamp">
                        3:33pm
                    </div>
                    <p class="my-content-message">hppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeoppositeo</p>
                </div>    
                -->            
            </div>

            <div id="footer" class="message-container">
                <div class="chat-message-menu"></div>
                <div class="chat-message">
                    <input id="message-input" class="chat-message-input" placeholder="input your message..."></input>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="socket.io.js"></script>
        <script>
            const socket = io.connect();
            socket.on('connect', ()=>{
                console.log('Chatting Server Connected');
                addMyChat('Chatting Server Connected!');
                socket.emit('join', socket.id);
        

           })

           socket.on('userlist', (userlist)=>{
                setUserlist(userlist);
           })
           socket.on('join', (id)=>{
                addOppositeChat(null, id, '입장하셨습니다');
            })
            socket.on('exit', (id)=>{
                addOppositeChat(null, id, '퇴장하셨습니다');
            })             
           socket.on('message', (data)=>{
                console.log(data);
                addOppositeChat(null, data.name, data.message);
            })


            const $chatBoard = document.querySelector("#message-input");

            $chatBoard.addEventListener("keypress", function(e){
           if(e.keyCode == 13 && this.value != ""){
               addMyChat(this.value);

                socket.emit('message', {
                    name: socket.id,
                    message: this.value,
                    time : getCurrentTime()
                })
               this.value = "";
           }});

        

       </script>
    </body>
</html>